<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sudoku</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">

      html, body {
        background-color: #FAFAFA
      }

      table {
        border: 2px solid #000000;
      }

      td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;
      }

      input {
        color: #000000;
        padding: 0;
        border: 0;
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 24px;
        background-color: #FFFFFF;
        outline: none;
      }

      input:disabled {
        background-color: #EEEEEE;
      }

      .container {
        margin-top: 50px;
        display: flex;
      }

      #launch {margin: auto; margin-top: 20px;}

      #right-part {
          margin-left: 100px;
      }

      #cell-0,  #cell-1,  #cell-2  { border-top:    2px solid #000000; }
      #cell-2,  #cell-11, #cell-20 { border-right:  2px solid #000000; }
      #cell-18, #cell-19, #cell-20 { border-bottom: 2px solid #000000; }
      #cell-0,  #cell-9,  #cell-18 { border-left:   2px solid #000000; }

      #cell-3,  #cell-4,  #cell-5  { border-top:    2px solid #000000; }
      #cell-5,  #cell-14, #cell-23 { border-right:  2px solid #000000; }
      #cell-21, #cell-22, #cell-23 { border-bottom: 2px solid #000000; }
      #cell-3,  #cell-12, #cell-21 { border-left:   2px solid #000000; }

      #cell-6,  #cell-7,  #cell-8  { border-top:    2px solid #000000; }
      #cell-8,  #cell-17, #cell-26 { border-right:  2px solid #000000; }
      #cell-24, #cell-25, #cell-26 { border-bottom: 2px solid #000000; }
      #cell-6,  #cell-15, #cell-24 { border-left:   2px solid #000000; }

      #cell-27, #cell-28, #cell-29 { border-top:    2px solid #000000; }
      #cell-29, #cell-38, #cell-47 { border-right:  2px solid #000000; }
      #cell-45, #cell-46, #cell-47 { border-bottom: 2px solid #000000; }
      #cell-27, #cell-36, #cell-45 { border-left:   2px solid #000000; }

      #cell-30, #cell-31, #cell-32 { border-top:    2px solid #000000; }
      #cell-32, #cell-41, #cell-50 { border-right:  2px solid #000000; }
      #cell-48, #cell-49, #cell-50 { border-bottom: 2px solid #000000; }
      #cell-30, #cell-39, #cell-48 { border-left:   2px solid #000000; }

      #cell-33, #cell-34, #cell-35 { border-top:    2px solid #000000; }
      #cell-35, #cell-44, #cell-53 { border-right:  2px solid #000000; }
      #cell-51, #cell-52, #cell-53 { border-bottom: 2px solid #000000; }
      #cell-33, #cell-42, #cell-51 { border-left:   2px solid #000000; }

      #cell-54, #cell-55, #cell-56 { border-top:    2px solid #000000; }
      #cell-56, #cell-65, #cell-74 { border-right:  2px solid #000000; }
      #cell-72, #cell-73, #cell-74 { border-bottom: 2px solid #000000; }
      #cell-54, #cell-63, #cell-72 { border-left:   2px solid #000000; }

      #cell-57, #cell-58, #cell-59 { border-top:    2px solid #000000; }
      #cell-59, #cell-68, #cell-77 { border-right:  2px solid #000000; }
      #cell-75, #cell-76, #cell-77 { border-bottom: 2px solid #000000; }
      #cell-57, #cell-66, #cell-75 { border-left:   2px solid #000000; }

      #cell-60, #cell-61, #cell-62 { border-top:    2px solid #000000; }
      #cell-62, #cell-71, #cell-80 { border-right:  2px solid #000000; }
      #cell-78, #cell-79, #cell-80 { border-bottom: 2px solid #000000; }
      #cell-60, #cell-69, #cell-78 { border-left:   2px solid #000000; }

      .sk-circle {
      margin: 100px auto;
      width: 40px;
      height: 40px;
      position: relative;
    }
    .sk-circle .sk-child {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .sk-circle .sk-child:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
              animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    }
    .sk-circle .sk-circle2 {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg); }
    .sk-circle .sk-circle3 {
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg); }
    .sk-circle .sk-circle4 {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .sk-circle .sk-circle5 {
      -webkit-transform: rotate(120deg);
          -ms-transform: rotate(120deg);
              transform: rotate(120deg); }
    .sk-circle .sk-circle6 {
      -webkit-transform: rotate(150deg);
          -ms-transform: rotate(150deg);
              transform: rotate(150deg); }
    .sk-circle .sk-circle7 {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .sk-circle .sk-circle8 {
      -webkit-transform: rotate(210deg);
          -ms-transform: rotate(210deg);
              transform: rotate(210deg); }
    .sk-circle .sk-circle9 {
      -webkit-transform: rotate(240deg);
          -ms-transform: rotate(240deg);
              transform: rotate(240deg); }
    .sk-circle .sk-circle10 {
      -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
              transform: rotate(270deg); }
    .sk-circle .sk-circle11 {
      -webkit-transform: rotate(300deg);
          -ms-transform: rotate(300deg);
              transform: rotate(300deg); }
    .sk-circle .sk-circle12 {
      -webkit-transform: rotate(330deg);
          -ms-transform: rotate(330deg);
              transform: rotate(330deg); }
    .sk-circle .sk-circle2:before {
      -webkit-animation-delay: -1.1s;
              animation-delay: -1.1s; }
    .sk-circle .sk-circle3:before {
      -webkit-animation-delay: -1s;
              animation-delay: -1s; }
    .sk-circle .sk-circle4:before {
      -webkit-animation-delay: -0.9s;
              animation-delay: -0.9s; }
    .sk-circle .sk-circle5:before {
      -webkit-animation-delay: -0.8s;
              animation-delay: -0.8s; }
    .sk-circle .sk-circle6:before {
      -webkit-animation-delay: -0.7s;
              animation-delay: -0.7s; }
    .sk-circle .sk-circle7:before {
      -webkit-animation-delay: -0.6s;
              animation-delay: -0.6s; }
    .sk-circle .sk-circle8:before {
      -webkit-animation-delay: -0.5s;
              animation-delay: -0.5s; }
    .sk-circle .sk-circle9:before {
      -webkit-animation-delay: -0.4s;
              animation-delay: -0.4s; }
    .sk-circle .sk-circle10:before {
      -webkit-animation-delay: -0.3s;
              animation-delay: -0.3s; }
    .sk-circle .sk-circle11:before {
      -webkit-animation-delay: -0.2s;
              animation-delay: -0.2s; }
    .sk-circle .sk-circle12:before {
      -webkit-animation-delay: -0.1s;
              animation-delay: -0.1s; }

    @-webkit-keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
      } 40% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

    @keyframes sk-circleBounceDelay {
      0%, 80%, 100% {
        -webkit-transform: scale(0);
                transform: scale(0);
      } 40% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

    #credits {
      position: fixed;
      bottom: 10px;
      margin-left: 25%;
    }

    </style>

  </head>

  <body>

    <div class="container">

      <div id="left-part">

      <form action="{{ url_for("process_sudoku") }}" method="POST">

      <table id="grid">

      <tr>
        <td><input name="00" id="cell-0" type="text" {% if old is defined and old[0,0] != 0 %} value="{{ old[0,0] }}" {% endif %}</td>
        <td><input name="01" id="cell-1" type="text" {% if old is defined and old[0,1] != 0 %} value="{{ old[0,1] }}" {% endif %}</td>
        <td><input name="02" id="cell-2" type="text" {% if old is defined and old[0,2] != 0 %} value="{{ old[0,2] }}" {% endif %}</td>
        <td><input name="03" id="cell-3" type="text" {% if old is defined and old[0,3] != 0 %} value="{{ old[0,3] }}" {% endif %}</td>
        <td><input name="04" id="cell-4" type="text" {% if old is defined and old[0,4] != 0 %} value="{{ old[0,4] }}" {% endif %}</td>
        <td><input name="05" id="cell-5" type="text" {% if old is defined and old[0,5] != 0 %} value="{{ old[0,5] }}" {% endif %}</td>
        <td><input name="06" id="cell-6" type="text" {% if old is defined and old[0,6] != 0 %} value="{{ old[0,6] }}" {% endif %}</td>
        <td><input name="07" id="cell-7" type="text" {% if old is defined and old[0,7] != 0 %} value="{{ old[0,7] }}" {% endif %}</td>
        <td><input name="08" id="cell-8" type="text" {% if old is defined and old[0,8] != 0 %} value="{{ old[0,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="10" id="cell-9" type="text" {% if old is defined and old[1,0] != 0 %} value="{{ old[1,0] }}" {% endif %}</td>
        <td><input name="11" id="cell-10" type="text" {% if old is defined and old[1,1] != 0 %} value="{{ old[1,1] }}" {% endif %}</td>
        <td><input name="12" id="cell-11" type="text" {% if old is defined and old[1,2] != 0 %} value="{{ old[1,2] }}" {% endif %}</td>
        <td><input name="13" id="cell-12" type="text" {% if old is defined and old[1,3] != 0 %} value="{{ old[1,3] }}" {% endif %}</td>
        <td><input name="14" id="cell-13" type="text" {% if old is defined and old[1,4] != 0 %} value="{{ old[1,4] }}" {% endif %}</td>
        <td><input name="15" id="cell-14" type="text" {% if old is defined and old[1,5] != 0 %} value="{{ old[1,5] }}" {% endif %}</td>
        <td><input name="16" id="cell-15" type="text" {% if old is defined and old[1,6] != 0 %} value="{{ old[1,6] }}" {% endif %}</td>
        <td><input name="17" id="cell-16" type="text" {% if old is defined and old[1,7] != 0 %} value="{{ old[1,7] }}" {% endif %}</td>
        <td><input name="18" id="cell-17" type="text" {% if old is defined and old[1,8] != 0 %} value="{{ old[1,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="20" id="cell-18" type="text" {% if old is defined and old[2,0] != 0 %} value="{{ old[2,0] }}" {% endif %}</td>
        <td><input name="21" id="cell-19" type="text" {% if old is defined and old[2,1] != 0 %} value="{{ old[2,1] }}" {% endif %}</td>
        <td><input name="22" id="cell-20" type="text" {% if old is defined and old[2,2] != 0 %} value="{{ old[2,2] }}" {% endif %}</td>
        <td><input name="23" id="cell-21" type="text" {% if old is defined and old[2,3] != 0 %} value="{{ old[2,3] }}" {% endif %}</td>
        <td><input name="24" id="cell-22" type="text" {% if old is defined and old[2,4] != 0 %} value="{{ old[2,4] }}" {% endif %}</td>
        <td><input name="25" id="cell-23" type="text" {% if old is defined and old[2,5] != 0 %} value="{{ old[2,5] }}" {% endif %}</td>
        <td><input name="26" id="cell-24" type="text" {% if old is defined and old[2,6] != 0 %} value="{{ old[2,6] }}" {% endif %}</td>
        <td><input name="27" id="cell-25" type="text" {% if old is defined and old[2,7] != 0 %} value="{{ old[2,7] }}" {% endif %}</td>
        <td><input name="28" id="cell-26" type="text" {% if old is defined and old[2,8] != 0 %} value="{{ old[2,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="30" id="cell-27" type="text" {% if old is defined and old[3,0] != 0 %} value="{{ old[3,0] }}" {% endif %}</td>
        <td><input name="31" id="cell-28" type="text" {% if old is defined and old[3,1] != 0 %} value="{{ old[3,1] }}" {% endif %}</td>
        <td><input name="32" id="cell-29" type="text" {% if old is defined and old[3,2] != 0 %} value="{{ old[3,2] }}" {% endif %}</td>
        <td><input name="33" id="cell-30" type="text" {% if old is defined and old[3,3] != 0 %} value="{{ old[3,3] }}" {% endif %}</td>
        <td><input name="34" id="cell-31" type="text" {% if old is defined and old[3,4] != 0 %} value="{{ old[3,4] }}" {% endif %}</td>
        <td><input name="35" id="cell-32" type="text" {% if old is defined and old[3,5] != 0 %} value="{{ old[3,5] }}" {% endif %}</td>
        <td><input name="36" id="cell-33" type="text" {% if old is defined and old[3,6] != 0 %} value="{{ old[3,6] }}" {% endif %}</td>
        <td><input name="37" id="cell-34" type="text" {% if old is defined and old[3,7] != 0 %} value="{{ old[3,7] }}" {% endif %}</td>
        <td><input name="38" id="cell-35" type="text" {% if old is defined and old[3,8] != 0 %} value="{{ old[3,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="40" id="cell-36" type="text" {% if old is defined and old[4,0] != 0 %} value="{{ old[4,0] }}" {% endif %}</td>
        <td><input name="41" id="cell-37" type="text" {% if old is defined and old[4,1] != 0 %} value="{{ old[4,1] }}" {% endif %}</td>
        <td><input name="42" id="cell-38" type="text" {% if old is defined and old[4,2] != 0 %} value="{{ old[4,2] }}" {% endif %}</td>
        <td><input name="43" id="cell-39" type="text" {% if old is defined and old[4,3] != 0 %} value="{{ old[4,3] }}" {% endif %}</td>
        <td><input name="44" id="cell-40" type="text" {% if old is defined and old[4,4] != 0 %} value="{{ old[4,4] }}" {% endif %}</td>
        <td><input name="45" id="cell-41" type="text" {% if old is defined and old[4,5] != 0 %} value="{{ old[4,5] }}" {% endif %}</td>
        <td><input name="46" id="cell-42" type="text" {% if old is defined and old[4,6] != 0 %} value="{{ old[4,6] }}" {% endif %}</td>
        <td><input name="47" id="cell-43" type="text" {% if old is defined and old[4,7] != 0 %} value="{{ old[4,7] }}" {% endif %}</td>
        <td><input name="48" id="cell-44" type="text" {% if old is defined and old[4,8] != 0 %} value="{{ old[4,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="50" id="cell-45" type="text" {% if old is defined and old[5,0] != 0 %} value="{{ old[5,0] }}" {% endif %}</td>
        <td><input name="51" id="cell-46" type="text" {% if old is defined and old[5,1] != 0 %} value="{{ old[5,1] }}" {% endif %}</td>
        <td><input name="52" id="cell-47" type="text" {% if old is defined and old[5,2] != 0 %} value="{{ old[5,2] }}" {% endif %}</td>
        <td><input name="53" id="cell-48" type="text" {% if old is defined and old[5,3] != 0 %} value="{{ old[5,3] }}" {% endif %}</td>
        <td><input name="54" id="cell-49" type="text" {% if old is defined and old[5,4] != 0 %} value="{{ old[5,4] }}" {% endif %}</td>
        <td><input name="55" id="cell-50" type="text" {% if old is defined and old[5,5] != 0 %} value="{{ old[5,5] }}" {% endif %}</td>
        <td><input name="56" id="cell-51" type="text" {% if old is defined and old[5,6] != 0 %} value="{{ old[5,6] }}" {% endif %}</td>
        <td><input name="57" id="cell-52" type="text" {% if old is defined and old[5,7] != 0 %} value="{{ old[5,7] }}" {% endif %}</td>
        <td><input name="58" id="cell-53" type="text" {% if old is defined and old[5,8] != 0 %} value="{{ old[5,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="60" id="cell-54" type="text" {% if old is defined and old[6,0] != 0 %} value="{{ old[6,0] }}" {% endif %}</td>
        <td><input name="61" id="cell-55" type="text" {% if old is defined and old[6,1] != 0 %} value="{{ old[6,1] }}" {% endif %}</td>
        <td><input name="62" id="cell-56" type="text" {% if old is defined and old[6,2] != 0 %} value="{{ old[6,2] }}" {% endif %}</td>
        <td><input name="63" id="cell-57" type="text" {% if old is defined and old[6,3] != 0 %} value="{{ old[6,3] }}" {% endif %}</td>
        <td><input name="64" id="cell-58" type="text" {% if old is defined and old[6,4] != 0 %} value="{{ old[6,4] }}" {% endif %}</td>
        <td><input name="65" id="cell-59" type="text" {% if old is defined and old[6,5] != 0 %} value="{{ old[6,5] }}" {% endif %}</td>
        <td><input name="66" id="cell-60" type="text" {% if old is defined and old[6,6] != 0 %} value="{{ old[6,6] }}" {% endif %}</td>
        <td><input name="67" id="cell-61" type="text" {% if old is defined and old[6,7] != 0 %} value="{{ old[6,7] }}" {% endif %}</td>
        <td><input name="68" id="cell-62" type="text" {% if old is defined and old[6,8] != 0 %} value="{{ old[6,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="70" id="cell-63" type="text" {% if old is defined and old[7,0] != 0 %} value="{{ old[7,0] }}" {% endif %}</td>
        <td><input name="71" id="cell-64" type="text" {% if old is defined and old[7,1] != 0 %} value="{{ old[7,1] }}" {% endif %}</td>
        <td><input name="72" id="cell-65" type="text" {% if old is defined and old[7,2] != 0 %} value="{{ old[7,2] }}" {% endif %}</td>
        <td><input name="73" id="cell-66" type="text" {% if old is defined and old[7,3] != 0 %} value="{{ old[7,3] }}" {% endif %}</td>
        <td><input name="74" id="cell-67" type="text" {% if old is defined and old[7,4] != 0 %} value="{{ old[7,4] }}" {% endif %}</td>
        <td><input name="75" id="cell-68" type="text" {% if old is defined and old[7,5] != 0 %} value="{{ old[7,5] }}" {% endif %}</td>
        <td><input name="76" id="cell-69" type="text" {% if old is defined and old[7,6] != 0 %} value="{{ old[7,6] }}" {% endif %}</td>
        <td><input name="77" id="cell-70" type="text" {% if old is defined and old[7,7] != 0 %} value="{{ old[7,7] }}" {% endif %}</td>
        <td><input name="78" id="cell-71" type="text" {% if old is defined and old[7,8] != 0 %} value="{{ old[7,8] }}" {% endif %}</td>
      </tr>

      <tr>
        <td><input name="80" id="cell-72" type="text" {% if old is defined and old[8,0] != 0 %} value="{{ old[8,0] }}" {% endif %}</td>
        <td><input name="81" id="cell-73" type="text" {% if old is defined and old[8,1] != 0 %} value="{{ old[8,1] }}" {% endif %}</td>
        <td><input name="82" id="cell-74" type="text" {% if old is defined and old[8,2] != 0 %} value="{{ old[8,2] }}" {% endif %}</td>
        <td><input name="83" id="cell-75" type="text" {% if old is defined and old[8,3] != 0 %} value="{{ old[8,3] }}" {% endif %}</td>
        <td><input name="84" id="cell-76" type="text" {% if old is defined and old[8,4] != 0 %} value="{{ old[8,4] }}" {% endif %}</td>
        <td><input name="85" id="cell-77" type="text" {% if old is defined and old[8,5] != 0 %} value="{{ old[8,5] }}" {% endif %}</td>
        <td><input name="86" id="cell-78" type="text" {% if old is defined and old[8,6] != 0 %} value="{{ old[8,6] }}" {% endif %}</td>
        <td><input name="87" id="cell-79" type="text" {% if old is defined and old[8,7] != 0 %} value="{{ old[8,7] }}" {% endif %}</td>
        <td><input name="88" id="cell-80" type="text" {% if old is defined and old[8,8] != 0 %} value="{{ old[8,8] }}" {% endif %}</td>
      </tr>

      </table>

          <button id="fetch" name="fetch" type="submit">RANDOM FETCH</button>
          <button id="launch" name="process" type="submit">PROCESS</button>

    </form>

    </div>

    <div id="right-part">

    {% if new is defined %}

    <table id="grid2">

    <tr>
      <td><input id="cell-0" type="text" {% if new[0,0] != 0 %} value="{{ new[0,0] }}" disabled {% endif %}</td>
      <td><input id="cell-1" type="text" {% if new[0,1] != 0 %} value="{{ new[0,1] }}" disabled {% endif %}</td>
      <td><input id="cell-2" type="text" {% if new[0,2] != 0 %} value="{{ new[0,2] }}" disabled {% endif %}</td>
      <td><input id="cell-3" type="text" {% if new[0,3] != 0 %} value="{{ new[0,3] }}" disabled {% endif %}</td>
      <td><input id="cell-4" type="text" {% if new[0,4] != 0 %} value="{{ new[0,4] }}" disabled {% endif %}</td>
      <td><input id="cell-5" type="text" {% if new[0,5] != 0 %} value="{{ new[0,5] }}" disabled {% endif %}</td>
      <td><input id="cell-6" type="text" {% if new[0,6] != 0 %} value="{{ new[0,6] }}" disabled {% endif %}</td>
      <td><input id="cell-7" type="text" {% if new[0,7] != 0 %} value="{{ new[0,7] }}" disabled {% endif %}</td>
      <td><input id="cell-8" type="text" {% if new[0,8] != 0 %} value="{{ new[0,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-9" type="text" {% if new[1,0] != 0 %} value="{{ new[1,0] }}" disabled {% endif %}</td>
      <td><input id="cell-10" type="text" {% if new[1,1] != 0 %} value="{{ new[1,1] }}" disabled {% endif %}</td>
      <td><input id="cell-11" type="text" {% if new[1,2] != 0 %} value="{{ new[1,2] }}" disabled {% endif %}</td>
      <td><input id="cell-12" type="text" {% if new[1,3] != 0 %} value="{{ new[1,3] }}" disabled {% endif %}</td>
      <td><input id="cell-13" type="text" {% if new[1,4] != 0 %} value="{{ new[1,4] }}" disabled {% endif %}</td>
      <td><input id="cell-14" type="text" {% if new[1,5] != 0 %} value="{{ new[1,5] }}" disabled {% endif %}</td>
      <td><input id="cell-15" type="text" {% if new[1,6] != 0 %} value="{{ new[1,6] }}" disabled {% endif %}</td>
      <td><input id="cell-16" type="text" {% if new[1,7] != 0 %} value="{{ new[1,7] }}" disabled {% endif %}</td>
      <td><input id="cell-17" type="text" {% if new[1,8] != 0 %} value="{{ new[1,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-18" type="text" {% if new[2,0] != 0 %} value="{{ new[2,0] }}" disabled {% endif %}</td>
      <td><input id="cell-19" type="text" {% if new[2,1] != 0 %} value="{{ new[2,1] }}" disabled {% endif %}</td>
      <td><input id="cell-20" type="text" {% if new[2,2] != 0 %} value="{{ new[2,2] }}" disabled {% endif %}</td>
      <td><input id="cell-21" type="text" {% if new[2,3] != 0 %} value="{{ new[2,3] }}" disabled {% endif %}</td>
      <td><input id="cell-22" type="text" {% if new[2,4] != 0 %} value="{{ new[2,4] }}" disabled {% endif %}</td>
      <td><input id="cell-23" type="text" {% if new[2,5] != 0 %} value="{{ new[2,5] }}" disabled {% endif %}</td>
      <td><input id="cell-24" type="text" {% if new[2,6] != 0 %} value="{{ new[2,6] }}" disabled {% endif %}</td>
      <td><input id="cell-25" type="text" {% if new[2,7] != 0 %} value="{{ new[2,7] }}" disabled {% endif %}</td>
      <td><input id="cell-26" type="text" {% if new[2,8] != 0 %} value="{{ new[2,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-27" type="text" {% if new[3,0] != 0 %} value="{{ new[3,0] }}" disabled {% endif %}</td>
      <td><input id="cell-28" type="text" {% if new[3,1] != 0 %} value="{{ new[3,1] }}" disabled {% endif %}</td>
      <td><input id="cell-29" type="text" {% if new[3,2] != 0 %} value="{{ new[3,2] }}" disabled {% endif %}</td>
      <td><input id="cell-30" type="text" {% if new[3,3] != 0 %} value="{{ new[3,3] }}" disabled {% endif %}</td>
      <td><input id="cell-31" type="text" {% if new[3,4] != 0 %} value="{{ new[3,4] }}" disabled {% endif %}</td>
      <td><input id="cell-32" type="text" {% if new[3,5] != 0 %} value="{{ new[3,5] }}" disabled {% endif %}</td>
      <td><input id="cell-33" type="text" {% if new[3,6] != 0 %} value="{{ new[3,6] }}" disabled {% endif %}</td>
      <td><input id="cell-34" type="text" {% if new[3,7] != 0 %} value="{{ new[3,7] }}" disabled {% endif %}</td>
      <td><input id="cell-35" type="text" {% if new[3,8] != 0 %} value="{{ new[3,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-36" type="text" {% if new[4,0] != 0 %} value="{{ new[4,0] }}" disabled {% endif %}</td>
      <td><input id="cell-37" type="text" {% if new[4,1] != 0 %} value="{{ new[4,1] }}" disabled {% endif %}</td>
      <td><input id="cell-38" type="text" {% if new[4,2] != 0 %} value="{{ new[4,2] }}" disabled {% endif %}</td>
      <td><input id="cell-39" type="text" {% if new[4,3] != 0 %} value="{{ new[4,3] }}" disabled {% endif %}</td>
      <td><input id="cell-40" type="text" {% if new[4,4] != 0 %} value="{{ new[4,4] }}" disabled {% endif %}</td>
      <td><input id="cell-41" type="text" {% if new[4,5] != 0 %} value="{{ new[4,5] }}" disabled {% endif %}</td>
      <td><input id="cell-42" type="text" {% if new[4,6] != 0 %} value="{{ new[4,6] }}" disabled {% endif %}</td>
      <td><input id="cell-43" type="text" {% if new[4,7] != 0 %} value="{{ new[4,7] }}" disabled {% endif %}</td>
      <td><input id="cell-44" type="text" {% if new[4,8] != 0 %} value="{{ new[4,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-45" type="text" {% if new[5,0] != 0 %} value="{{ new[5,0] }}" disabled {% endif %}</td>
      <td><input id="cell-46" type="text" {% if new[5,1] != 0 %} value="{{ new[5,1] }}" disabled {% endif %}</td>
      <td><input id="cell-47" type="text" {% if new[5,2] != 0 %} value="{{ new[5,2] }}" disabled {% endif %}</td>
      <td><input id="cell-48" type="text" {% if new[5,3] != 0 %} value="{{ new[5,3] }}" disabled {% endif %}</td>
      <td><input id="cell-49" type="text" {% if new[5,4] != 0 %} value="{{ new[5,4] }}" disabled {% endif %}</td>
      <td><input id="cell-50" type="text" {% if new[5,5] != 0 %} value="{{ new[5,5] }}" disabled {% endif %}</td>
      <td><input id="cell-51" type="text" {% if new[5,6] != 0 %} value="{{ new[5,6] }}" disabled {% endif %}</td>
      <td><input id="cell-52" type="text" {% if new[5,7] != 0 %} value="{{ new[5,7] }}" disabled {% endif %}</td>
      <td><input id="cell-53" type="text" {% if new[5,8] != 0 %} value="{{ new[5,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-54" type="text" {% if new[6,0] != 0 %} value="{{ new[6,0] }}" disabled {% endif %}</td>
      <td><input id="cell-55" type="text" {% if new[6,1] != 0 %} value="{{ new[6,1] }}" disabled {% endif %}</td>
      <td><input id="cell-56" type="text" {% if new[6,2] != 0 %} value="{{ new[6,2] }}" disabled {% endif %}</td>
      <td><input id="cell-57" type="text" {% if new[6,3] != 0 %} value="{{ new[6,3] }}" disabled {% endif %}</td>
      <td><input id="cell-58" type="text" {% if new[6,4] != 0 %} value="{{ new[6,4] }}" disabled {% endif %}</td>
      <td><input id="cell-59" type="text" {% if new[6,5] != 0 %} value="{{ new[6,5] }}" disabled {% endif %}</td>
      <td><input id="cell-60" type="text" {% if new[6,6] != 0 %} value="{{ new[6,6] }}" disabled {% endif %}</td>
      <td><input id="cell-61" type="text" {% if new[6,7] != 0 %} value="{{ new[6,7] }}" disabled {% endif %}</td>
      <td><input id="cell-62" type="text" {% if new[6,8] != 0 %} value="{{ new[6,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-63" type="text" {% if new[7,0] != 0 %} value="{{ new[7,0] }}" disabled {% endif %}</td>
      <td><input id="cell-64" type="text" {% if new[7,1] != 0 %} value="{{ new[7,1] }}" disabled {% endif %}</td>
      <td><input id="cell-65" type="text" {% if new[7,2] != 0 %} value="{{ new[7,2] }}" disabled {% endif %}</td>
      <td><input id="cell-66" type="text" {% if new[7,3] != 0 %} value="{{ new[7,3] }}" disabled {% endif %}</td>
      <td><input id="cell-67" type="text" {% if new[7,4] != 0 %} value="{{ new[7,4] }}" disabled {% endif %}</td>
      <td><input id="cell-68" type="text" {% if new[7,5] != 0 %} value="{{ new[7,5] }}" disabled {% endif %}</td>
      <td><input id="cell-69" type="text" {% if new[7,6] != 0 %} value="{{ new[7,6] }}" disabled {% endif %}</td>
      <td><input id="cell-70" type="text" {% if new[7,7] != 0 %} value="{{ new[7,7] }}" disabled {% endif %}</td>
      <td><input id="cell-71" type="text" {% if new[7,8] != 0 %} value="{{ new[7,8] }}" disabled {% endif %}</td>
    </tr>

    <tr>
      <td><input id="cell-72" type="text" {% if new[8,0] != 0 %} value="{{ new[8,0] }}" disabled {% endif %}</td>
      <td><input id="cell-73" type="text" {% if new[8,1] != 0 %} value="{{ new[8,1] }}" disabled {% endif %}</td>
      <td><input id="cell-74" type="text" {% if new[8,2] != 0 %} value="{{ new[8,2] }}" disabled {% endif %}</td>
      <td><input id="cell-75" type="text" {% if new[8,3] != 0 %} value="{{ new[8,3] }}" disabled {% endif %}</td>
      <td><input id="cell-76" type="text" {% if new[8,4] != 0 %} value="{{ new[8,4] }}" disabled {% endif %}</td>
      <td><input id="cell-77" type="text" {% if new[8,5] != 0 %} value="{{ new[8,5] }}" disabled {% endif %}</td>
      <td><input id="cell-78" type="text" {% if new[8,6] != 0 %} value="{{ new[8,6] }}" disabled {% endif %}</td>
      <td><input id="cell-79" type="text" {% if new[8,7] != 0 %} value="{{ new[8,7] }}" disabled {% endif %}</td>
      <td><input id="cell-80" type="text" {% if new[8,8] != 0 %} value="{{ new[8,8] }}" disabled {% endif %}</td>
    </tr>

    </table>

    {% else %}

    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>

    {% endif %}

    </div>

    </div>

    <div id="credits">
      <p style="text-align: center; font-style: italic; font-size: 0.8em; font-color: grey;"> Credit to thebinarypenguin for the sudoku board template : https://gist.github.com/thebinarypenguin/4d45ffe87096e508800b5d11544bf2fa</p>
      <p style="text-align: center; font-style: italic; font-size: 0.8em; font-color: grey;"> Credit to the Sudoku Web Service API of UTEP : http://www.cs.utep.edu/cheon/ws. This is only an educational/personal project</p>
    </div>

    

  </body>
</html>